<div class="landing-container">
  <button mat-button class="shannon-button" 
    data-testid="shannon-button"
    (mouseenter)="toggleDashboard(true)"    
    >
    Shannon
  </button>
  <app-side-dashboard 
    [isOpen]="isDashboardOpen" 
    [class.active]="isDashboardOpen"
    (closePanel)="toggleDashboard(false)"
    data-testid="side-dashboard"
    >
  </app-side-dashboard>
  <div class="greeting-section">
    <h1>Good {{ getTimeOfDay() }}, {{ firstName }}</h1>
    <p class="subtitle">How can I help you today?</p>
  </div>

  <div class="input-container">
    <app-chat-input
      [mode]="'landing'"
      [sequence]="1"
      (messageSent)="onMessageSent($event)"
    ></app-chat-input>
  </div>

  <div class="recent-conversations">
    <div *ngIf="isLoading" class="loading-spinner-container">
      <mat-spinner diameter="40" data-testid="conversation-loading-spinner"></mat-spinner>
    </div>

    <div *ngIf="!isLoading">
      <h2 *ngIf="recentConversations.length > 0">Recent Conversations</h2>
      <div class="conversation-grid">
        <app-conversation-card
          *ngFor="let conversation of recentConversations"
          [conversation]="conversation"
          [messagePreviewLength]="20"
          (cardClick)="onConversationClick(conversation.conversation_id || '')"
          data-testid="conversation-card">
        </app-conversation-card>
      </div>
    </div>
  </div>
</div> 